<html>
<head>
  <link rel="stylesheet" href="static/css/material.min.css">
  <script src="static/js/material.js"></script>
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/settings.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="stylesheet" href="static/css/logs.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
      <div class="mdl-layout__header-row">
        <span id="title" class="mdl-layout-title">Settings</span>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
      </div>
    </header>

    <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
      <header class="demo-drawer-header">
        <div class="demo-avatar-dropdown">
          <div style="width:80%" class="left">Foobar</div>
        </div>
      </header>
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-navigation__link" href=""><span class="visuallyhidden">Help</span></a>
      </nav>
    </div>
    <main id="main"  class="mdl-layout__content mdl-color--grey-100">
      <form method="post">
        <div id="ruleTemplate" >
          <ul class="rules-list-item mdl-list">
            <li class="mdl-list__item">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" name="newRuleName" id="newRuleName">
                <label class="mdl-textfield__label" for="newRuleName">Rule Name</label>
              </div>
            </li>
            <li class="mdl-list__item">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%" >
                <input class="mdl-textfield__input" type="text" id="newRuleCondition" name="newRuleCondition" style="width:100%" >
                <label class="mdl-textfield__label" for="newRuleCondition">Rule Condition</label>
              </div>
            </li>
            <li class="mdl-list__item">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%" >
                <input class="mdl-textfield__input" type="text" id="newRuleAction" name="newRuleAction" style="width:100%" >
                <label class="mdl-textfield__label" for="newRuleAction">Rule Action</label>
              </div>
            </li>
          </div>
          <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Save
          </button>
          <button type="button" onclick="window.location.replace('/settings')" class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Cancel
          </button>
        </form>
      </main>
    </div>

  </body>
  </html>
