<html>
<head>
  <link rel="stylesheet" href="/static/css/material.min.css">
  <script src="/static/js/material.js"></script>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/dialog-polyfill.js"></script>
  <script src="/static/js/settings.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="stylesheet" href="/static/css/logs.css">
  <link rel="stylesheet" href="/static/css/dialog-polyfill.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
      <div class="mdl-layout__header-row">
        <span id="title" class="mdl-layout-title">Settings</span>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
      </div>
    </header>

    <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
      <header class="demo-drawer-header">
        <div class="demo-avatar-dropdown">
          <div style="width:80%" class="left">Foobar</div>
        </div>
      </header>
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-navigation__link" href=""><span class="visuallyhidden">Help</span></a>
      </nav>
    </div>
    <main id="main"  class="mdl-layout__content mdl-color--grey-100">
      <div class="mdl-tabs mdl-js-tabs mdl-layout--fixed-drawer mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
          <a href="#general-panel" class="mdl-tabs__tab is-active">General</a>
          <a href="#gateway-panel" class="mdl-tabs__tab">Gateway</a>
          <a href="#hub-panel" class="mdl-tabs__tab">Hub</a>
          <a href="#notifier-panel" class="mdl-tabs__tab">Notifier</a>
        </div>

        <div class="mdl-tabs__panel is-active" id="general-panel">
          <form action="/settings/general" method="post">
            <ul class="demo-list-item mdl-list">
              <li class="mdl-list__item">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" pattern="nats://[a-zA-Z0-9\.\-]+:[0-9]+" name="natsurl" value="{{ .Natsurl }}"id="nats">
                  <label class="mdl-textfield__label" for="nats">Nats URL (nats://host:port)</label>
                  <span class="mdl-textfield__error">Incorrect pattern!</span>
                </div>
              </li>
            </ul>
            <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect">
              Save
            </button>
          </form>
        </div>
        <div class="mdl-tabs__panel" id="gateway-panel">
          <pre>Gateway does not have any configuration (yet..)</pre>
        </div>



        <!--- Hub Panel -->
        <div class="mdl-tabs__panel" id="hub-panel">
          <br>
          <b>General Settings :</b>
          <form action="#">
            <ul class="hubsetting-list-item mdl-list">
              <li class="mdl-list__item mdl-list__item">
                <div style="width:60%"class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="syslogqueues">
                  <label class="mdl-textfield__label" for="syslogqueues">Syslog Queues separated by comma (in_system.*,myqueue,...)</label>
                </div>
              </li>
            </ul>
            <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect">
              Save
            </button>
          </form>
          <hr>
          <b>Rules</b>
          <form action="/settings/hub" method="post">
            <ul class="hubrule-list-item mdl-list">
              {{ range $i,$r := .HubRules }}
              <li class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-avatar">open_with</i>
                  <span><strong>{{ $r.Name }}</strong></span> on <i>{{ $r.Queue}}</i>
                  <span class="mdl-list__item-text-body">
                    <div>
                      <i><b>Condition : </b></i>{{ $r.Condition }}<br>
                      <i><b>Action : </b></i>{{ $r.Action }}
                    </div>
                    <span data-rule="{{ $r.Name }}" style="width:100%" class="spin"></span>
                  </span>
                </span>
                <span class="mdl-list__item-secondary-content">
                  <a class="mdl-list__item-secondary-action" href="/settings/hub/rule/{{ $r.Name }}"><i class="material-icons">mode_edit</i></a>
                  <a class="mdl-list__item-secondary-action delete-rule" href="#hub-panel" data-rule="{{$r.Name}}" ><i class="material-icons">delete</i></a>
                </span>
              </li>
              {{ end }}
            </ul>
            <button type="button" onclick="window.location.replace('/addnewhubrule')" class="mdl-button mdl-js-button mdl-js-ripple-effect">
              Add New Rule
            </button>
          </form>

        </div>
        <div class="mdl-tabs__panel" id="notifier-panel">
          <ul>
            <li>Viserys</li>
            <li>Daenerys</li>
          </ul>
        </div>
      </div>
      <div id="loadingbar" style="width:100%;display:none;" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
    </main>
  </div>
  <div id="alert-snackbar" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>
  <dialog id="delete-confirm" class="mdl-dialog">
    <p >Deleting <font id="deleterulename"></font></p>
    <div class="mdl-dialog__content">
      <p>
        Confirm deletion ?
      </p>
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button close">Just do it ©</button>
      <button type="button" class="mdl-button cancel">Hum...nah..</button>
    </div>
  </dialog>
</body>
</html>
